<div class="container my-3">
	<h1 style="color:rgb(226, 228, 235);"></h1>
   </div>
   <table align=center>
<div>
		<pre><a routerLink="/cover/home" ><button type="button" class="btn  btn-dark text-white btn-lg">RAWMATERIAL SECTION</button></a>   <a routerLink="/cover/homepage"><button type="button" class="btn btn-dark text-white btn-lg">PRODUCT SECTION</button></a>    <a routerLink=" " ><button type="button" class="btn btn-dark text-white btn-lg">STOCK MANAGEMENT</button></a></pre>
</div>
</table>
<div class="container my-3">
	<pre>
	
	<router-outlet></router-outlet>
	</pre>
</div>