<div class="container ">
    <h1 style="color:#FF5050;">Drink and Delight Inventory Management System</h1>
   </div>
<div>
        <pre><a routerLink="" ><button type="button" class="btn  btn-dark text-white btn-lg">PLACEORDER</button></a>   <a routerLink="/transactions"><button type="button" class="btn btn-dark text-white btn-lg">UPDATEORDER</button></a>    <a routerLink="/passbook" ><button type="button" class="btn btn-dark text-white btn-lg">DISPLAYORDER</button></a>     <a routerLink="" ><button type="button" class="btn btn-dark text-white btn-lg">DISPLAYSUPPLIER</button></a>     <a routerLink="" ><button type="button" class="btn btn-dark text-white btn-lg">DISPLAYDISTRIBUTOR</button></a></pre>
<a routerLink="" ><button type="button" class="btn btn-dark text-white btn-lg">UPDATESTOCK</button></a></pre>

</div>
<div class="container ">
    <pre>
    
    <router-outlet></router-outlet>
    </pre>
</div>

